RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$  $1.php

# Menonaktifkan directory listing
Options -Indexes

# Mengatur file indeks
DirectoryIndex index.php index.html
